language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: DPrUiPiroPIjGfeiHvp9oEq+ljUNQDI3CvhbfJEWKNAYxrxLe3lLosjNU6nLWg/YbfcKPRe3zW44LHztH2GAWS47HnH5qpQ9qFaI9swLyK0Q5Z8b+sK3wpJV6dQ09WlT6CfRHqSpoJNt1+zO323Pwql/UfrHoXGrjS+2hxFOm7UjWNzt43T3qnTqelh02T+g3OXISxb2Sf45QoSYgXP9XF9xZ5swZsjH9ulI72V1SnnBqRfYuP6RASummVmY5tdoCcOyv38iUpo/GlwjeLbVqFxToBq8YyhM+fnu+XRZrHwpaz4lmhoYjQa2YwtKzd6JSd3lr1MMs5zAIn1xJO96czstCFHvWll1pNDDSoqNq5Wu2ISSMddPhC9EsT+jVZmymT6/6GGEuuSoeDZPok724CkcZcS0USC++F0MhhagWrpyoidNno4t4Rb5rkA46Zeld/UqumOh98GeNGfsENRLGPZ6mNwHnAGh3ZL015ErnXQk5BIz5C1vFTVC/eAUEZXAa0/LnaSTL2zppxLXIE2RoGGXBc6JdS9rFJ/BGJszpHfoJEy62tfCjXTmL7lv+WLF1ie6yiggIQZCl72/Al2LuTvFxrK6s8eECetYbYQ+g5TjR+MmwTJLWRYouBcQleKM6ycebo6m9EJ5Po4jL7VPFxOrwCftmgbl62Vi51djtPk=
  app: palette-picker-sfjo

