.App {
  background-color: $primary;
  height: 100vh;
}

.App_projects-section {
  display: flex;
}

button {
  border: none;
  font-family: $font-body;
}

input {
  border: none;
}

p {
  color: $secondary;
  font-family: $font-body;
}
