.App {
  background-color: $primary;
}

.App_projects-section {
  display: flex;
}

.div_palettes-container {
  width: 100%;
}

button {
  border: none;
  font-family: $font-body;
}

input {
  border: none;
}

p {
  color: $secondary;
  font-family: $font-body;
}
