.Header_header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
  position: relative;
}

.Header_header p {
  position: absolute;
  right: 43.5%;
  top: 80%;
}

h1 {
  color: $secondary;
  font-family: $font-heading;
  font-size: 3em;
  font-weight: $font-light;
}

.generate-color-btn {
  font-size: 1em;
  width: 200px;
  cursor: pointer;
}

.generate-color-btn:hover{ 
  animation: Generate_New_Color 1s;
  animation-timing-function: linear;   
  background-color: #FFFFFF;
  color: #3e3b39;
}

@keyframes Generate_New_Color {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
