header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

h1 {
  color: $secondary;
  font-family: $font-heading;
  font-size: 3em;
  font-weight: $font-light;
}

.generate-color-btn {
  font-size: 1em;
  width: 200px;
}
