.ProjectsContainer_section {
  padding: 15px;
  width: 35%;
  margin-top: -3%;
}

.ProjectsContainer_section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15%;
}

.ProjectsContainer_section form label {
  font-size: 24px;
  font-family: $font-heading;
  color: $secondary;
  text-align: center;
  margin-bottom: 5px;
}

.ProjectsContainer_section form input,
.ProjectsContainer_section form button {
  font-size: 1em;
  text-align: center;
  margin: 5px 0;
  padding: 2px;
}

.ProjectsContainer_section input {
  height: 24px;
}

.ProjectsContainer_section form button {
  background-color: #D3D3D3;
}

.div_project-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 26vh;
}

.error {
  height: 20px;
  text-align: center;
}

.error-text {
  color: #ff7171;
  font-style: italic;
}

.button_selected-Project,
.project-name {
  background-color: $primary;
  border-bottom: 1px solid transparent;
  font-family: $font-body;
  color: $secondary;
  cursor: pointer;
}

.project-name {
  opacity: 0.3;
}

.project-name:hover {
  border-bottom: 1px solid $secondary;
}

.trash-btn {
  background-color: transparent;
}

.trash-img-project {
  color: $secondary;
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;
  padding-top: 7px;
}

.div_buttons-container button {
  font-size: 1em;
  padding: 0px 5px;
}

#button_project-name {
  padding-bottom: 5px;
}
