.ProjectsContainer_section {
  width: 35%;
}

.ProjectsContainer_section form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.div_project-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}