.selectedPalettes_section {
  width: 100%;
  position: relative;
}

.selected-palette header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_color-container {
  height: 20px;
}

.selectedPalettes_section section {
  display: flex;
}

.color-container div {
  width: 20%;
  height: 40px;
}

.color-container:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

.trash-img {
  color: $secondary;
  cursor: pointer;
  height: 2em;
  width: 2em;
}

.no-selected-palettes {
  position: absolute;
  top: 40%;
  left: 40%
}
