.selectedPalettes_section {
  width: 100%;
  position: relative;
  overflow: scroll;
  height: 37vh;
  padding: 10px;
}

.selected-palette header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_color-container {
  height: 20px;
}

.selectedPalettes_section section {
  display: flex;
}

.color-container div {
  width: 20%;
  height: 40px;
  cursor: pointer;
}

.color-container:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

.trash-img {
  color: #fff;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin: 5px;
}

.no-selected-palettes {
  position: absolute;
  top: 40%;
  left: 40%
}
